@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meow+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-style: normal;

}

.meow-script-font {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}

/* shared style */
.center-width {
  width: 85%;
  margin: 0 auto;
}

.primary-nav-title {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 800;
  color: #E6533C;
}

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: #E6533C;
  border-radius: 42px;
  border: none;
  padding: 16px 46.4px;
  color: white;
  font-size: 1.12rem;
  font-weight: 600;
  cursor: pointer;
}

.primary-title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

.primary-description {
  font-size: 1.14rem;
  opacity: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}

.bottom-margin {
  margin-bottom: 100px;
}

.primary-bg {
  background-color: #222222;
}

/* share style end */


/* header style */
header {
  width: 100%;
  background-image: linear-gradient(360deg, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.082));
}

/* navber style */
.nav-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 3.5rem;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.178);
  border-radius: 39px 39px 39px 39px;
  align-items: center;
}

.link-list {
  list-style: none;
}

.link {
  text-decoration: none;
  margin-right: 2.9rem;
  color: white;
  font-size: 1.12rem;
}

.home {
  background-color: #E6533C;
  border: none;
  padding: 8px 20px;
  border-radius: 46px 46px 46px 46px;
  font-size: 1.12rem;
  font-weight: 600;
  color: white;
  margin: 2px 2px;
}

.hamburger {
  display: none;
}

/* banner style */
.banner-container {
  gap: 5.5rem;
  width: 85%;
  margin: 0 auto;
}

.bnner-text {
  width: 60%;
  margin-top: 96px;
  margin-bottom: 76px;
  margin-right: 88px;
}

.banner-taitle {
  font-size: 4.87rem;
  color: white;
  font-weight: 900;

}

.banner-description {
  opacity: 0.5px;
  color: rgba(255, 255, 255, 0.5);
}

.banner-description {
  max-width: 520px;
  margin: 28px 0;

}

.banner-img {
  width: auto;
  margin-top: 32px;
  position: relative;
}

.img-1 {
  width: 100%;
}

.down-layer-1 {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 20px 23px;
  border-radius: 12px;
  position: absolute;
  top: 430px;
  right: 200px;
}


.down-layer-2 {
  top: 120px;
  right: -60px;
}

.img-1-taitle {
  color: rgba(250, 250, 249, 1);
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0;
}

.img-1-discription {
  color: rgba(239, 237, 232, 0.65);
  opacity: 0.5px;
}

.download-btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.582);
  margin-left: 14px;
}

/* habit section styles */
.habit-container {
  max-width: 1044px;
  margin: 0 auto;
  text-align: center;
}

.habit-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 40px;
}

.habit-img {
  border-radius: 100px 100px 100px 100px;
}

.habit-img-title {
  font-size: 1.12rem;
  font-weight: 600;
  color: white;
  margin-top: 30px;
}

.habit-img-description {
  max-width: 231px;
}

.habit-description {
  max-width: 671px;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 58px;
}

/* run section style */
.run-container {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-between;
  background-color: #222222;
  border-radius: 18px;
  padding: 30px 20px;
  margin-bottom: 100px;
}

.run-text {
  max-width: 443px;
  padding: 10px 20px;
}

.run-description {
  margin-top: 14px;
  margin-bottom: 30px;
}

.run-btn {
  padding: 16px 71.5px;
}

.run-img-container {
  max-width: 483px;
  border-radius: 18px;

}

.run-img {
  border-radius: 18px;
  width: 100%;
}

/* Bmi section style */
.table-text{
  max-width: 671px;
  margin: 0 auto;
}
.table-title ,.select-title{
  margin-bottom: 15px;
}
.table-container{
  margin-top: 88px;
  
}
.table-content{
  max-width: 1060px;
  margin: 0 auto;
  gap: 170px;
}
.table-div{
  max-width: 443px;
}
table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.1);
  
}

caption {
  color: #ffff;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 52px 0;
}

tr,
td {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding:  13px 40px ;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.87rem;
}

thead>tr>td {
  color: white;
}
.select-div{
  max-width: 577px;
}
.select-title{
  color: #ffff;
  font-size: 1.75rem;
  font-weight: 800;
}

/* team section setyle */
.team-container {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.team-title {
  text-align: center;
}

.team-description {
  max-width: 728px;
  text-align: center;
  margin: 30px auto;

}

.team-img-container {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 16px;
}

.img-0,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trainer1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 377px;
  height: 330px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.img-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trainer2.png);
}

.img-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trainer3.png);
}

.img-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trainer4.png);
}

.img-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trainer5.png);
}

.img-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/trainer6.png);
}

.team-img-title {
  font-size: 1.25rem;
  font-weight: 900;
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.team-img-description {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

/* footer */
.footer-content {
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  gap: 102px;
  grid-template-columns: repeat(3, 1fr);
  padding: 66px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-text-div-one {
  width: 443px;
}

.footer-title {
  font-size: 2rem;

}

#fitness {
  font-size: 70px;
  font-weight: bolder;
}

.footer-description-one {
  margin-top: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.footer-description {
  margin-top: 39px;
  font-size: 23px;
  font-weight: 400;
  line-height: 40px;
}

.last-description {
  text-align: center;
  padding: 30px 0;
}

/* responsive for mobile */
@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    color: white;
  }

  .banner-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .bnner-text {
    width: 100%;
  }

  .banner-taitle {
    font-size: 36px;
  }

  .down-layer-1 {
    right: 100px;
  }

  .btn {
    display: flex;
  }

  .club {
    display: none;
  }

  .btn-primary {
    font-size: 16px;
    padding: 10px 15px;
  }

  .down-layer-1 {
    padding: 10px 15px;
    top: 430px;
    right: 100px;
  }

  .down-layer-2 {
    top: 120px;
    right: 0;
  }

  /* habit styles */
  .habit-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* run */
  .run-container {
    flex-direction: column;
    padding: 20px 20px;
    margin: 20px;
  }

  .run-text {
    padding: 20px 0;
  }

  .primary-title {
    font-size: 2rem;
  }

  /* team -img-section */
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 500px;
    margin: 0 15px;
  }

  .img-0,
  .img-4 {
    display: none;
  }

  /* footer */
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }

  .footer-text-div-one {
    width: auto;
  }

  #fitness {
    font-size: 3rem;
  }
}